#{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	font-family: 'Raleway', sans-serif;
	background: url(https://wallpapercave.com/wp/wp2003010.jpg) no-repeat;
	background-size: cover;
	height: 95vh;
	display: flex;
}
.text h1{
	font-weight: 900;
	font-size: 50px;
	color: #fff;
	margin-top: 25vh;
	margin-left:30vh;
	margin-right:30vh;
}
.text p{
	font-size: 20px;
	color: #fff;
	font-weight: 300;
	margin-left: 30vh;
	margin-top: 5vh;
}
.text p a{
	color: #fff;
	font-weight: 250;
}
.form{
	background: transparent;
	color: #fff;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 250px;
}
table{
	color: #fff;
	margin-top: 38vh;
	margin-left: 27vh;
}
input{
	background: transparent;
	border: border-box;
	outline: none;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
.username, .password, .m, .r,.radio{
	border-bottom: 3px solid #fff;
	
}
.b:hover{
	background:#4169E1;
	color: #fff;
}